.bodyMenuBottom{
    background-color: #efefef;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100vw;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 20vh;
}

.bodyMenuBottom a{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
    color: #c8c4c4;
}

.menuBottomHome{
    background-color: #ff881f;
    border-radius: 100%;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 15px;
    color: white;
}