.bodyMenuBottom {
    background-color: #efefef;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100vw;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 20vh;
}

.bodyMenuBottom a {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
    color: #c8c4c4;
    position: relative; /* Adicionado para tornar o posicionamento absoluto relativo ao link */
}

.menuBottomHome {
    background-color: #ff881f;
    border-radius: 100%;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 15px;
    color: white;
}

.quantidadeCarrinho {
    position: absolute;
    top: -5px; /* Ajuste para posicioná-lo um pouco acima do ícone */
    right: -10px; /* Ajuste para posicioná-lo um pouco à esquerda do ícone */
    background-color: red;
    color: white; /* Cor do texto da notificação */
    border-radius: 50%; /* Para torná-lo um círculo */
    padding: 5px; /* Espaçamento dentro do círculo */
    font-size: 12px; /* Tamanho da fonte da notificação */
}
